.grid { 
    display: grid;
    width: 500px;
    grid-template-columns: 1fr 2fr 3fr;
    gap: 5px;
    align-items: stretch;
    justify-items: stretch;
}

.header {
    background-color: red;
    grid-column: 1 / 4;
    text-align: center;
}