body {
    background-color: #eee;
}

.caja {
    margin: 8px;
    padding: 8px;
    border-style: solid;
    border-width: 8px;
    border-color: darkorange;
    border-left: 9px solid #afa;
    border-radius: 3px;
    background-color: #aaf;
    height: 100px;
    width: 100px;
    color: firebrick;
}
